{{#d-modal-body title="explorer.help.modal.title"}}
  <h3>Creating Custom Parameters</h3>
  <p>To create custom parameters for your queries, follow this format:</p>
  <pre><code class="sql">{{html-safe (i18n "explorer.help.modal.code")}}</code></pre>

  <h3>Query Data Types</h3>
  <ul>
    <li>int</li>
    <li>string</li>
    <li>varchar</li>
    <li>boolean</li>
    <li>date</li>
  </ul>
{{/d-modal-body}}