{{text-field value=filter placeholderKey="explorer.schema.filter"}}
{{conditional-loading-spinner condition=loading}}
<div class="schema-container">
  {{#each tables as |table|}}
    {{explorer-schema-onetable table=table}}
  {{/each}}
</div>
