<div class="result-json">
  <div class="result-json-value">{{@ctx.value}}</div>
  <DButton
    @class="result-json-button"
    @action={{action "viewJson"}}
    @icon="ellipsis-h"
    @title="explorer.view_json"
  />
</div>