
.query-list {
  margin: 10px 0;
}
.query-create {
  margin: 10px 0;
}

.query-edit {
  .name h2 {
    display: inline-block;
  }
  .desc textarea {
    width: 200px;
  }
  .sql textarea {
    width: calc(100% - 8px);
    height: 100px;
    font-family: monospace;
    border-color: $tertiary;
  }
  .left-buttons {
    float: left;
  }
  .right-buttons {
    float: right;
  }
  .clear { clear: both; }
}

.query-params {
  border: 1px solid dark-light-diff($primary, $secondary, 60%, -20%);
  input {
    margin: 9px;
  }
  .param {
    display: inline-block;
    overflow-x: visible;
  }
  .param-save {
    float: right;
    margin: 9px;
  }
  .param-name {
    display: inline-block;
    width: 70px;
  }
}

.query-list, .query-edit, .query-results, .query-params {
  margin: 10px 0;
}
