.https-warning {
  color: $danger;
}

.query-editor {
  border: 1px solid dark-light-diff($primary, $secondary, 80%, -20%);
  margin-bottom: 15px;
  .editor-panel {
    width: 65%;
  }
  .right-panel {
    width: 35%;
  }
  &.no-schema {
    .editor-panel {
      width: 100%;
    }
    .right-panel {
      width: 0;
      button.unhide {
        position: absolute;
        margin-left: -31px;
        z-index: 1;
      }
    }
  }


  .editor-panel {
    float: left;
    .ace-wrapper {
      position: relative;
      height: 400px;
      width: 100%;
    }
    .ace_editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .right-panel {
    float: right;
    .schema {
      border-left: 1px solid dark-light-diff($primary, $secondary, 80%, -20%);
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      color: dark-light-diff($primary, $secondary, 20%, -20%);
      font-size: 11px;

      input {
        padding: 4px;
        margin: 3px;
        // 100% - padding + margin * 2 - border - button - buttonborder
        width: calc(100% - 14px - 1px - 22px - 2px);
      }
      .schema-table-name {
        font-weight: bold;
        border-bottom: 1px solid dark-light-diff($primary, $secondary, 80%, -20%);
        padding-left: 5px;
        .fa {
          width: 6px;
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
      }
      dl {
        margin: 0;
      }
      dl > div > * {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      dl > div {
        clear:both;
      }
      dt {
        display: inline-block;
        vertical-align: text-top;
        overflow-wrap: break-word;
        width: 110px;
        margin-left: 5px;
        &.sensitive {
          color: $danger;
        }
      }
      dd {
        display: inline-block;
        vertical-align: text-top;
        width: 110px;
        color: $tertiary;
        margin: 0;
        padding-left: 7px;
        border-left: 1px dotted dark-light-diff($primary, $secondary, 80%, -20%);

        .schema-typenotes {
          color: dark-light-diff($primary, $secondary, 50%, -20%);
          font-style: italic;
        }
        .popup-info {
          color: dark-light-diff($primary, $secondary, 50%, -20%);

          .popup { display: none; }
          &:hover .popup { display: block; }
          &:focus .popup { display: block; }

          .popup {
            position: absolute;
            padding: 5px;
            padding-right: calc(5px + 2em);
            border: 1px solid;
            background: white;
            left: -120px;
            width: 180px;
            top: 6px;
            z-index: 10;
          }

          .popup ol {
            margin: 0;
            list-style: none;
            > li:before {
              content: attr(value) ": ";
            }
          }
        }
      }
    }
  }
  .grippie {
    clear: both;
    -webkit-user-select: none;
  }
}

.query-edit {
  .name h2 {
    display: inline-block;
  }
  .name input, .desc textarea {
    width: calc(100% - 10px);
  }
  &:not(.editing) .desc {
    margin: 10px 0;
  }
}

.query-run {
  margin-top: 25px;
  .query-plan {
    display: inline-block;
    margin-left: 15px;
  }
}

.clear { clear: both; }

.schema-title {
  display: block;
  margin: auto;
}

.query-params {
  border: 1px solid dark-light-diff($primary, $secondary, 60%, -20%);
  .param > input {
    margin: 9px;
  }
  .invalid > input {
    background-color: mix($danger, $secondary, 20%);
  }
  .invalid .ac-wrap {
    background-color: mix($danger, $secondary, 20%);
  }
  .param {
    width: 300px;
    display: inline-block;
    overflow-x: visible;
    .ac-wrap {
      display: inline-block;
      input {
        width: 100px !important; // override an inline style
      }
    }
    input {
      width: 190px;
    }
  }
  .param-name {
    display: inline-block;
    width: 70px;
  }
}

.query-list, .query-create, .query-edit, .query-results, .query-params, .https-warning {
  margin: 10px 0;
}

.query-list {
  display: flex;
  .combo-box, button {
    margin-right: .5em;
  }
  li.none {
    display: none;
  }
}

.recent-queries {
  tr a {
    display:block;
    width:100%;
    height: 100%;
    color: inherit; 
  }
  .time {
      width: 15%;
    }
  .user {
      width: 20%;
  }
  td{
    .query-created-at {
      font-weight: bold;
      color: dark-light-diff($primary, $secondary, 40%, -20%);
    } 
    .query-created-by {
      color: dark-light-diff($primary, $secondary, 25%, -20%);
    }  
  }
  hr {
    height: 2px;
    width: 100%;
    color: dark-light-diff($primary, $secondary, 35%, -20%);
  }
  .heading {
    padding-top: 30px;
    color: dark-light-diff($primary, $secondary, 30%, -20%);
  }
  .query-name {
    color: dark-light-diff($primary, $secondary, 15%, -20%);
  }
  .query-desc {
    color: dark-light-diff($primary, $secondary, 25%, -20%);
  }
}

.explorer-pad-bottom {
  margin-bottom: 200px;
}
