
.query-list {
  margin: 10px 0;
}
.query-create {
  margin: 10px 0;
}

.query-edit {
  .name h2 {
    display: inline-block;
  }
  .desc textarea {
    width: 200px;
  }
  .sql textarea {
    width: calc(100% - 8px);
    height: 100px;
    font-family: monospace;
    border-color: $tertiary;
  }
  .left-buttons {
    float: left;
  }
  .right-buttons {
    float: right;
  }
  .clear { clear: both; }
}

.query-list, .query-edit, .query-results {
  margin: 10px 0;
}
