.https-warning {
  color: $danger;
}

.query-editor {
  border: 1px solid dark-light-diff($primary, $secondary, 80%, -20%);
  margin-bottom: 15px;
  .editor-panel {
    width: 65%;
  }
  .right-panel {
    width: 35%;
  }
  &.no-schema {
    .editor-panel {
      width: 100%;
    }
    .right-panel {
      width: 0;
      button.unhide {
        position: absolute;
        margin-left: -31px;
        z-index: 1;
      }
    }
  }


  .editor-panel {
    float: left;
    .ace-wrapper {
      position: relative;
      height: 400px;
      width: 100%;
    }
    .ace_editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .right-panel {
    float: right;
    .schema {
      border-left: 1px solid dark-light-diff($primary, $secondary, 80%, -20%);
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      color: dark-light-diff($primary, $secondary, 20%, -20%);
      font-size: 11px;

      input {
        padding: 4px;
        margin: 3px;
        // 100% - padding + margin * 2 - border - button - buttonborder
        width: calc(100% - 14px - 1px - 22px - 2px);
      }
      .schema-table-name {
        font-weight: bold;
        border-bottom: 1px solid dark-light-diff($primary, $secondary, 80%, -20%);
        padding-left: 5px;
        .fa {
          width: 6px;
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
      }
      dl {
        margin: 0;
      }
      dl > div > * {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      dl > div {
        clear:both;
      }
      dt {
        display: inline-block;
        vertical-align: text-top;
        overflow-wrap: break-word;
        width: 110px;
        margin-left: 5px;
        &.sensitive {
          color: $danger;
        }
      }
      dd {
        display: inline-block;
        vertical-align: text-top;
        width: 70px;
        color: $tertiary;
        margin: 0;
        padding-left: 7px;
        border-left: 1px dotted dark-light-diff($primary, $secondary, 80%, -20%);

        .schema-typenotes {
          color: dark-light-diff($primary, $secondary, 50%, -20%);
          font-style: italic;

          ol { display: none; }
          &:hover ol { display: block; }
          &:focus ol { display: block; }
          .enum-info {

            ol {
              position: absolute;
              padding: 5px;
              padding-right: calc(5px + 2em);
              border: 1px solid;
              background: white;
              list-style: none;
              left: -12em;
              top: 6px;
              z-index: 10;
              > li {
                width: 150%;
              }
              > li:before {
                content: attr(value) ": ";
              }
            }
          }
        }
      }
    }
  }
  .grippie {
    clear: both;
    -webkit-user-select: none;
  }
}

.query-edit {
  .name h2 {
    display: inline-block;
  }
  .name input, .desc textarea {
    width: calc(100% - 10px);
  }
  &:not(.editing) .desc {
    margin: 10px 0;
  }
}

.clear { clear: both; }

.schema-title {
  display: block;
  margin: auto;
}

.query-params {
  border: 1px solid dark-light-diff($primary, $secondary, 60%, -20%);
  .param > input {
    margin: 9px;
  }
  .invalid > input {
    background-color: mix($danger, $secondary, 20%);
  }
  .invalid .ac-wrap {
    background-color: mix($danger, $secondary, 20%);
  }
  .param {
    width: 300px;
    display: inline-block;
    overflow-x: visible;
    .ac-wrap {
      display: inline-block;
    }
    input {
      width: 190px;
    }
  }
  .param-name {
    display: inline-block;
    width: 70px;
  }
}

.query-list, .query-create, .query-edit, .query-results, .query-params, .https-warning {
  margin: 10px 0;
}

.explorer-pad-bottom {
  margin-bottom: 200px;
}
