
.query-list {
  overflow-y: scroll;
  max-height: 15em;
}

.query-edit .sql textarea {
  width: 800px;
  height: 100px;
  font-family: monospace;
  border-color: $tertiary;
}

.query-edit .desc textarea {
  width: 200px;
}

.query-list, .query-edit, .query-results {
  margin: 10px 0;
}
