
.query-list {
  overflow-y: scroll;
  max-height: 15em;
}

.query-edit {
  .name h2 {
    display: inline-block;
  }
  .desc textarea {
    width: 200px;
  }
  .sql textarea {
    width: 800px;
    height: 100px;
    font-family: monospace;
    border-color: $tertiary;
  }
}

.query-list, .query-edit, .query-results {
  margin: 10px 0;
}
