<tr>
  {{#each this.results as |result|}}
    <td>
      <result.component
        @ctx={{result.ctx}}
        @params={{result.params}}
        @textValue={{result.textValue}}
      />
    </td>
  {{/each}}
</tr>